.main4{
    width: 1920px;
    height: 818px;
    position: relative;
    left: -60px;
    top: 30px;  
    .main4_contant{
        width: 1528px;
        height:754px;     
        margin:0 auto;
        margin-bottom:64px;    
        .main4_contant_left{
            width: 380px;
            height:754px;              
            float:left;
            background-image:url(../../../../../common/anjianguidang-img/liebiao_bg.png);
            .main4_contant_left_title{
                font-size:18px;
                color:#fff;
                width: 100px;
                height: 20px;
                margin-left: 152px;
            }
            .main4_contant_left_ul{
                width:260px;
                height:690px;             
                margin:auto;
                margin-top:40px;
                .main4_contant_left_li{
                    width:260px;
                    height: 40px;                
                    margin-bottom:21px;
                    background-image:url(../../../../../common/anjianguidang-img/xitongtongzhi_btn.png);
                    text-align:center;
                    line-height: 40px;
                }
            }
        }
        .main4_contant_right{
            width: 1100px;
            height:754px;               
            float:right;
            background-image:url(../../../../../common/anjianguidang-img/message_bg.png);
           .main4_contant_right_top{
                width: 1100px;
                height:120px; 
                background-image:url(../../../../../common/anjianguidang-img/title_bg.png);
                .main4_contant_right_top_left{
                    width: 120px;
                    height:120px;              
                    float:left;
                    background-image:url(../../../../../common/anjianguidang-img/back.png);
                    background-repeat:no-repeat;
                    background-position:50% 50%;
                }
                .main4_contant_right_top_right{
                    width: 980px;
                    height:120px;                 
                    float:right;
                    .right_top{
                        width: 100%;
                        height:74px; 
                        line-height: 74px;                     
                        font-size:24px;
                        font-family:MicrosoftYaHei;
                        font-weight:400;
                        color:rgba(82,188,255,1);
                        text-align: center;
                    }
                    .right_bottom{
                        width: 100%;
                        height:45px;                  
                        .right_bottom_li{
                            float:left;
                            margin-right:99px;
                            font-size:16px;
                            font-family:MicrosoftYaHei;
                            font-weight:400;
                            color:rgba(255,255,255,1);
                        }
                        .first{
                            margin-left:20px;
                        }
                    }
                }          
            }
            .main4_contant_right_bottom{
                width: 1100px;
                height:634px;              
                .main4_contant_right_bottom_content{
                    width: 1100px;
                    height:614px;           
                    margin-top:20px;  
                    overflow-y:scroll; 
                    .main4_contant_right_bottom_content_1{
                        margin-top:20px;
                        .content_top{
                            width: 92%;
                            height: 26px;
                            margin:auto;
                            background-image:url(../../../../../common/anjianguidang-img/left.png);
                            background-repeat:no-repeat;
                            background-position:0;
                            padding-left:15px;
                            font-size:18px;
                            font-family:MicrosoftYaHei;
                            font-weight:400;
                            color:rgba(255,255,255,1);
                        }
                        .content_active{
                            width: 92%;
                            height: 238px;
                            margin:auto;
                            margin-top:20px;
                            .content_active_li{
                                width:180px;
                                height:238px;
                                background-image:url(../../../../../common/anjianguidang-img/xingdongduixiang_bg.png);
                                float:left;
                                margin-right:27px;
                                .content_active_li_top{
                                    width:50px;
                                    height:50px;
                                    border-radius: 50%;
                                    border:1px solid #000;
                                    margin-top:10px;
                                    margin-left:65px;
                                }
                                .content_active_li_bottom{
                                    width:100%;
                                    height:170px;                      
                                    margin-top:5px;
                                    ul{
                                        width: 100%;
                                        height: 100%;
                                        overflow-y:scroll;
                                        li{
                                            font-size: 12px;
                                            color:#fff;
                                            padding-left:6px;
                                            padding-right:6px;
                                        }
                                    }
                                }
                            }
                            .last{
                                margin-right:0px!important;
                            }
                        }
                    }   
                    .main4_contant_right_bottom_content_2{
                        margin-top:30px;
                        .content_top2{
                            width: 92%;
                            height: 26px;
                            margin:auto;
                            background-image:url(../../../../../common/anjianguidang-img/left.png);
                            background-repeat:no-repeat;
                            background-position:0;
                            padding-left:15px;
                            font-size:18px;
                            font-family:MicrosoftYaHei;
                            font-weight:400;
                            color:rgba(255,255,255,1);                        
                        }
                        .content_middle{
                            .content_middle_title{
                                width: 92%;
                                height: 30px;
                                margin:auto;
                                line-height:30px;
                                font-size: 16px;
                                color:#52BCFF;
                                font-family:MicrosoftYaHei;
                                font-weight:400;
                                margin-top:10px;
                            }
                            .content_middle_one{
                                width: 92%;
                                height: 30px;
                                line-height:30px;
                                margin:auto;
                                font-size:14px;
                                font-family:MicrosoftYaHei;
                                font-weight:400;
                                color:rgba(255,255,255,1);
                                .content_middle_one1{
                                    margin-right:94px;
                                }
                                .content_middle_one2{
                                    margin-right:120px;
                                }
                            }
                            .content_middle_two{
                                width: 92%;
                                height: 30px;
                                line-height:30px;
                                margin:auto;
                                font-size:14px;
                                font-family:MicrosoftYaHei;
                                font-weight:400;
                                color:rgba(255,255,255,1);
                                .content_middle_two1{
                                    margin-right:92px;
                                }
                                .content_middle_two2{
                                    margin-right:91px;
                                }
                            }
                            .content_middle_three{
                                width: 92%;
                                // height: 30px;
                                line-height:30px;
                                margin:auto;
                                font-size:14px;
                                font-family:MicrosoftYaHei;
                                font-weight:400;
                                color:rgba(255,255,255,1);
                            }
                        }
                    }    
                    
                    .main4_contant_right_bottom_content_3{
                        margin-top:30px;
                        .content_top4{
                            width: 92%;
                            height: 26px;
                            margin:auto;
                            background-image:url(../../../../../common/anjianguidang-img/left.png);
                            background-repeat:no-repeat;
                            background-position:0;
                            padding-left:15px;
                            font-size:18px;
                            font-family:MicrosoftYaHei;
                            font-weight:400;
                            color:rgba(255,255,255,1);     
                        }
                        .main4_contant4{
                            width: 92%;
                            margin:auto;
                            margin-top:21px;
                            .main4_contant_left1{
                                width: 300px;
                                height: 300px;
                                border:1px solid #000;
                                margin-right:80px;
                                float:left;
                            }
                            .main4_contant_right1{
                                width:300px;
                                height: 300px;
                                float:left;                     
                                .main4_contant_right1_dt{
                                    width:100%;
                                    height: 24px;
                                    display:block;
                                }
                                .main4_contant_right1_dl{
                                    width:100%;
                                    height: 24px;
                                    display:block;
                                    margin-left:10px;                           
                                }                         
                            }
                        }
                    }
                 
                    .main4_contant_right_bottom_content_5{
                        margin-top:350px;                 
                        .content_top5{
                            width: 92%;
                            height: 26px;
                            margin:auto;
                            background-image:url(../../../../../common/anjianguidang-img/left.png);
                            background-repeat:no-repeat;
                            background-position:0;
                            padding-left:15px;
                            font-size:18px;
                            font-family:MicrosoftYaHei;
                            font-weight:400;
                            color:rgba(255,255,255,1);
                        }
                        .content_top5_time{
                            width: 92%;
                            height:20px;
                            font-size:16px;  
                            margin:10px auto;
                        }
                        .content5_ul{
                            width: 92%;                         
                            margin-left:55px;
                            .content5_li{
                                width: 48%;
                                height: 100px;                     
                                margin-bottom:20px;
                                float:left;
                                margin-right:20px;
                                .content5__left{
                                    width: 160px;
                                    height: 100px;
                                    float:left;
                                    border:1px solid #000;
                                }
                                .content5_right{
                                    width:320px;
                                    height:100px;
                                    background-image:url(../../../../../common/anjianguidang-img/biaojidian_bg.png);
                                    float:right;
                                    .content5_right_title{
                                        width:100%;
                                        height:20px;
                                        line-height:20px;                        
                                        padding-left:10px;
                                        margin-top:5px;
                                    }
                                    .content5_right_ul{
                                        width: 100%;
                                        height: 50px;
                                        padding-left:10px;                
                                        .content5_right_li{
                                            width: 100%;
                                            height: 20px;
                                            line-height: 20px;
                                            .content5_right_time{
                                                margin-right:5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .main4_contant_right_bottom_content_6{
                        margin-top:250px;                 
                        .content_top6{
                            width: 92%;
                            height: 26px;
                            margin:auto;
                            background-image:url(../../../../../common/anjianguidang-img/left.png);
                            background-repeat:no-repeat;
                            background-position:0;
                            padding-left:15px;
                            font-size:18px;
                            font-family:MicrosoftYaHei;
                            font-weight:400;
                            color:rgba(255,255,255,1);
                        }
                        .content_table{
                            width: 92%;
                            margin:auto;
                            margin-top:10px;
                            .content_tr1{
                                text-align: center;                             
                                height: 30px;
                                .content_th1{
                                    width: 300px;
                                }
                            }
                            .content_th,.content_td{
                               text-align:center;
                               height: 30px;
                            
                            }
                        }
                    }

                    .main4_contant_right_bottom_content_7{
                        margin-top:30px; 
                        .content_top7{
                            width: 92%;
                            height: 26px;
                            margin:auto;
                            background-image:url(../../../../../common/anjianguidang-img/left.png);
                            background-repeat:no-repeat;
                            background-position:0;
                            padding-left:15px;
                            font-size:18px;
                            font-family:MicrosoftYaHei;
                            font-weight:400;
                            color:rgba(255,255,255,1);
                        }
                        .content_table7{
                            width: 92%;
                            margin:auto;
                            text-align:center;
                        }
                    }

                    .main4_contant_right_bottom_content_8{
                        margin-top:30px;
                        .content_top8{
                            width: 92%;
                            height: 26px;
                            margin:auto;
                            background-image:url(../../../../../common/anjianguidang-img/left.png);
                            background-repeat:no-repeat;
                            background-position:0;
                            padding-left:15px;
                            font-size:18px;
                            font-family:MicrosoftYaHei;
                            font-weight:400;
                            color:rgba(255,255,255,1);
                        }
                    }
                }
            }
        }
    }
}
