.call-to-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    background: linear-gradient(#0176BF, #062746);
    border: 1px solid #10A4B0;
    z-index: 100;
    text-align: center;

    p {
        margin: 0;
        padding: 0;
    }

    .avatar {
        margin-top: 40px;

        img {
            background: rgba(49, 213, 248, 1);
            border-radius: 8px;
            width: 80px;
            height: 80px;
        }
    }

    .username {
        margin-top: 20px;
        font-size: 18px;
        font-family: DFPYuanW7;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
    }

    .msg {
        margin-top: 10px;
        font-size: 10px;
        font-family: DFPYuanW7;
        font-weight: 400;
        color: rgba(194, 194, 194, 1);
    }

    .call-footer {
        position: absolute;
        bottom: 50px;
        width: 100%;
        display: flex;
        justify-content: center;

        .call-btn {
            width: 50px;
            margin-right: 30px;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            img.call-btn-icon {
                user-select: none;

                &.active {
                    animation: jumpTwice 2s infinite ease-in-out;
                }
            }

            p {
                margin-top: 10px;
                font-size: 10px;
                font-family: DFPYuanW7;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
            }
        }
    }
}

$jump-height: -10px;

@keyframes jumpTwice {
    50% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    67.5% {
        -webkit-transform: translateY($jump-height);
        -ms-transform: translateY($jump-height);
        transform: translateY($jump-height)
    }

    75% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    87.5% {
        -webkit-transform: translateY($jump-height);
        -ms-transform: translateY($jump-height);
        transform: translateY($jump-height)
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}