.messageModul {
	width: 320px !important;
	height: 100% !important;
	border-radius: 10px;
	.ant-modal-content {
		width: 320px !important;
		background: rgba(28, 93, 142, 1);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		.ant-modal-close {
			height: 36px !important;
			width: 36px !important;
			.ant-modal-close-x {
				height: 20px !important;
				width: 20px !important;
				line-height: 36px !important;
				text-align: center;
			}
		}
		.ant-modal-header {
			width: 320px !important;
			height: 36px !important;
			padding: 1px !important;
			border-radius: 10px 10px 0px 0px;
			border: 0;
			.ant-modal-title {
				width: 320px !important;
				height: 36px !important;
				line-height: 36px;
			}
		}
		.ant-modal-body {
			flex: 1 !important;
			background: rgba(5, 70, 120, 1) !important;
			padding: 0 !important;
			margin-bottom: 40px !important;
			.ant-form-item {
				display: flex;
				padding-bottom: 0;
				margin-bottom: 15px;
				position: relative;
				margin-top: 15px;

				.ant-form-explain {
					position: absolute;
					top: 0px;
					right: -62px;
				}
				.ant-form-item-label {
					padding-bottom: 0;
					width: 37%;
					label {
						float: right;
						color: #fff;
					}
				}

				.ant-form-item-control-wrapper {
					flex: 1;
					// width: 100% !important;
					padding: 0 !important;
					padding-bottom: 0;
					.ant-form-item-children {
						display: block;
						.FromInput {
							margin-left: 5px;
							width: 134px !important;
							height: 24px !important;
							background: #005b8c;
							border: 1px solid rgba(3, 143, 174, 1);
						}
						.Select {
							width: 135px !important;
							background: #005b8c !important;
							margin-left: 5px;
							.ant-select-selection {
								// width: 100% !important;
								.ant-select-selection__rendered {
									width: 100% !important;
									overflow: hidden;
								}
							}
						}
						.newMother {
							position: absolute;
							left: 3px;
							top: 0;
							width: 132px !important;
							height: 24px !important;
							margin-left: 5px;
							input {
								text-align: center;
								width: 135px !important;
								height: 24px !important;
								// background: #005b8c !important;
								border: 1px solid rgba(3, 143, 174, 1);
							}
						}
						i {
							display: none;
						}
					}
				}
			}
		}
		.ant-modal-footer {
			width: 320px !important;
			height: 36px !important;
			padding: 0;
			background: rgba(9, 57, 95, 1);
			border-radius: 0px 0px 10px 10px;
			border: 0;
		}
	}
}
.ant-select {
	.ant-select-selection {
		.ant-select-selection__rendered {
			max-height: 24px;
		}
	}
}
.ant-select-selection--multiple {
	max-height: 24px;
}
